.game{
  
  width: 560px;
  height: 560px;

}

.game img {
  width: 70px;
  height: 70px;
}
.score-board{

  margin: 50px;
  text-align: center;
  color: rosybrown;
}

.gameHeader{
  background-color: #CDCDCD;
  margin-bottom: 20px ;
  
  height: 70px;
  width: 100%;
}
.gameHeader p{
  color:rosybrown ;
  text-align: center;
  font-size: large;
  padding-top: 20px;
}
@media screen and (max-width: 610px) {
  .game {
    margin-left: 25px
  }
}
@media screen and (min-width: 800px) {
  .game {
    margin-left: 120px;
  }
}
@media screen and (min-width: 950px) {
  .game {
    margin-left: 200px;
  }
}
@media screen and (min-width: 1100px) {
  .game {
    margin-left: 300px;
  }
}
@media screen and (min-width: 1300px) {
  .game {
    margin-left: 400px;
  }
}
@media screen and (min-width: 1500px) {
  .game {
    margin-left: 550px;
  }
}
@media screen and (min-width: 1800px) {
  .game {
    margin-left: 620px;
  }
}
